:root {
    --primary: #F14D34;
}

.btn {
    padding: 24px 80px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.btn--primary {
    border-radius: 2px solid var(--primary);
    color: var(--primary);
    background: transparent;
    transition: all 0.3s ease-out;
}

.btn--solid {
    background-color: var(--primary);
    color: #fff;
    padding: 24px 80px;
}